<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Non-profit Enthusiasts Platform</h1>

  <h2>
    It is easy to earn your
    <a href="http://en.wikipedia.org/wiki/Karma">Karma</a>
    .
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

