<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>NonProfit Enthusiasts Platform</h1>

  <h2>
    It is easy to earn your
    <a href="http://en.wikipedia.org/wiki/Karma">Karma</a>
    .
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/200x200" src="cry.jpg" alt="">
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="greenpeace.jpg" alt="">
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="wwf.jpg" alt="">
    </div>
  </li>
</ul>


 <div class="row-fluid">
          <div class="span6 hero-unit"><span class="label label-warning">Donor</span></div>
          <div class="span6 hero-unit"><span class="label label-warning">Organization</span></div>
        </div>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
<iframe width="560" height="315" src="http://www.youtube.com/embed/QPty-ZLbJt0" frameborder="0" allowfullscreen></iframe>
    </div>
</ul>
