<footer class="footer">
  <small>
    Powered by
    <a href="http://en.wikipedia.org/wiki/Open_source">Open Source</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://en.wikipedia.org/wiki/Open_source">News</a></li>
    </ul>
  </nav>
</footer>
