<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "NGOHOOK", "/", class: "brand" %>
      <nav>
      </nav>
    </div>
  </div>
</div>
