   <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Get Connected </h3>
</div>
<div class="modal-body hero-unit ">
<h4>Join using your existing logins. </h4>
<BR>
<h4><%= link_to image_tag("facebook.png",alt: "Facebook"), "/auth/facebook" %>
<%= link_to image_tag("google.png",alt: "Google"), "/auth/google_oauth2" %></h4>
</div>
</div>

